<!-- upload_image.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>
<h2>Upload an Image</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

{% if audio %}
<h3>Uploaded Content:</h3>
<img src="{{ uploaded_file_url }}" alt="Uploaded Image" style="max-width: 300px;">
<audio controls id="player">
     <source src="{{ audio.audio.url }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endif %}
</body>
</html>
